@tailwind base;
@tailwind components;
@tailwind utilities;

.underline {
  background: linear-gradient(0deg, #fce62e 35%, transparent 0);
  text-decoration: none;
}

.underline-green {
  background: linear-gradient(0deg, #15803d 15%, transparent 0);
  text-decoration: none;
}

/* only for debugging */
/* * {
  outline: 1px red solid;
} */

/* html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
} */
